.footer__column-link {
   display: flex;
   color: inherit;
   align-items: center;
   text-decoration: none;
   line-height: 30px;
   font-size: 18px;
   transition: opacity 0.8s ease;
 }
 .footer__column-link:hover {
   opacity: 0.6;
 }